[2018-02-12 11:17] Chunlinx opened #1 "AssertionError"
Hi,
when i try to run your code ,I got an error:
Reducing Glove Matrix
100%|█████████████████████████████████████████████████| 442/442 [01:32<00:00,  4.79it/s]
100%|███████████████████████████████████████████████████| 48/48 [00:10<00:00,  4.43it/s]
Processing 91600 vocabs
Total number of lines: 91604
Reduced vocab size: 91604
Reading GloVe from: ./glove.840B.300d.txt
Processing line 91600
Reading

[2018-02-12 11:39] minsangkim142 commented on #1
Hi @Chunlinx, thanks for raising this issue. It seems that the vocab size of your GloVe is not identical to the vocab specified in the parameters. Check [here](https://github.com/minsangkim142/Reading-Comprehension-without-RNNs/blob/7beb2b55f33d185ff957c09ff6400319864e3c8e/params.py#L47). I'll look into why this might be happening.

In the meantime, for a quick fix just change [this line](https://

[2018-03-10 00:47] minsangkim142 commented on #1
This shouldn't be a problem anymore as of 765eb7f02aea4465d7d1dc9fc99d89723ea35df1

[2018-03-10 00:47] #1 closed

[2018-03-17 11:05] kamalkraj opened #2 "OOM error while training"
What are  the specification of System you used for training ?

Can you share a pre-trained model weights ?

[2018-03-19 23:58] minsangkim142 commented on #2
Hi @kamalkraj I uploaded the most recent model pretrained weights (EM/F1 = 70.0/79.4) and you can download it [here](https://drive.google.com/open?id=1gJtcPBNuDr9_2LuP_4x_4VN6_5fQCdfB).

The specification of the system I used is:
CPU: i7-3930K CPU @ 3.20GHz
GPU: GTX1080 (8GB)
RAM: 16GB
Training takes about 5~8 hours depending on your gpu/cpu spec. The model takes about 8 GB gpu memory so if you're

[2018-03-19 23:58] #2 closed

[2018-03-20 10:52] kamalkraj opened #3 "Unable to load pre-trained weights"
Steps i have done
1.Cloned the repo and downloaded weights
2.sh download.sh
3.run python config.py --mode prepro
4. run python config.py --mode demo
error

[code]

[2018-03-20 10:56] minsangkim142 commented on #3
Hi @kamalkraj  could you please tell me which version of spacy you're using for this environment? The version I used for this specific model is 2.0.9. If you're not using 2.0.9 please delete the data directory and run the preprocessing step again after upgrading spacy to the latest version.

[2018-03-20 11:01] kamalkraj commented on #3
i have used spacy 2.0.2

[2018-03-20 21:45] minsangkim142 commented on #3
@kamalkraj please let me know if it works with spacy==2.0.9?

[2018-03-21 12:05] kamalkraj commented on #3
Yeah ,It worked .Thanks

[2018-03-21 12:05] #3 closed

[2018-03-21 12:48] loveJasmine opened #4 "AttributeError: 'module' object has no attribute 'blank'"
i had done:
sudo pip install spacy==2.0.9

mldl@mldlUB1604:~/ub16_prj/Fast-Reading-Comprehension$ python config.py --mode prepro
Traceback (most recent call last):
  File "config.py", line 9, in <module>
    from prepro import prepro
  File "/home/mldl/ub16_prj/Fast-Reading-Comprehension/prepro.py", line 15, in <module>
    nlp = spacy.blank("en")
AttributeError: 'module' object has no attribute '

[2018-03-21 20:31] minsangkim142 commented on #4
Have you run `sh download.sh`? Because you also need the english model for spacy to work.
If you've already downloaded the word vectos and squad data then just run
`python3 -m spacy download en`

[2018-03-23 02:07] loveJasmine commented on #4
I had "python3 -m spacy download en" done:

but still
mldl@mldlUB1604:~/ub16_prj/Fast-Reading-Comprehension$ python config.py --mode prepro
Traceback (most recent call last):
  File "config.py", line 9, in <module>
    from prepro import prepro
  File "/home/mldl/ub16_prj/Fast-Reading-Comprehension/prepro.py", line 15, in <module>
    nlp = spacy.blank("en")
AttributeError: 'module' object has no

[2018-03-23 02:55] minsangkim142 commented on #4
referring to this issue https://github.com/explosion/spaCy/issues/965, maybe try
`python -m spacy.en.download`?

[2018-03-23 03:16] loveJasmine commented on #4
mldl@mldlUB1604:~/ub16_prj/Fast-Reading-Comprehension$ sudo python -m spacy.en.download --force
Downloading parsing model
Downloading...
Downloaded 532.28MB 100.00% 3.67MB/s eta 0s
archive.gz checksum/md5 OK
Model successfully installed to /usr/local/lib/python2.7/dist-packages/spacy/data
Downloading GloVe vectors
Downloading...
Downloaded 708.08MB 100.00% 3.09MB/s eta 0s
archive.gz checksum/md5 O

[2018-03-23 03:26] minsangkim142 commented on #4
Try spacy==2.0.9

[2018-03-23 03:40] loveJasmine commented on #4
mldl@mldlUB1604:~/ub16_prj/Fast-Reading-Comprehension$ sudo pip install spacy==2.0.9
The directory '/home/mldl/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/mldl/.cache/pip' or its parent directory is no

[2018-03-23 04:16] hxsnow10 opened #5 "possibly insufficient driver version:"
Hi，

i meet runtime error, in sess.run([]),

[code]
tensorflow version: 1.5.0
CUDA: 9.0
Cudnn: 7.0
Driver Version: 384.69

Can i ask your versions, should i update my driver version, or may only change some model code?
it works without gpu.

Thanks

[2018-03-23 04:52] hxsnow10 commented on #5
Haha
sorry.
it works after I update driver to 387.34!

[code]
for who needs too.

[2018-03-23 04:52] #5 closed

[2018-03-23 07:36] minsangkim142 commented on #4
It seems that you installed spacy in python3 but downloaded spacy english model in python2. Please use one version or another where you have tensorflow installed.

[2018-03-23 08:26] loveJasmine commented on #4
yes,  my 'pip' is for python3, not python2

[2018-03-23 08:26] #4 closed

[2018-03-23 08:52] loveJasmine opened #6 "-flags.DEFINE_integer("bucket_range", [40, 401, 40], "the range of bucket")"
should be:

-flags.DEFINE_list("bucket_range", [40, 401, 40], "the range of bucket")

[2018-03-23 08:52] #6 closed

[2018-03-23 09:20] minsangkim142 commented on #6
Fixed. Thanks!

[2018-03-27 08:03] tongjinle123 opened #7 "about embedding matrix structure"
Thanks for the brillient code.
    I have noticed a santence in the paper:
"all the out-of-vocabulary words are mapped to a <UNK> token ,whose embedding is trainable with random initialization." which not in your code. (they used a pretrained matrix)That seems make sence.
    Do that works for the model?

[2018-03-27 08:38] minsangkim142 commented on #7
Hi @tongjinle123 , you're right about fine tuning the unknown_word vectors. **The paper suggests learning the unknown word vectors and we should do it**.
I am just not too sure what the most elegant way to do this is in tensorflow. I am open to suggestions so if anyone has a brilliant idea to do this please let me know. Or even better, pull request!

**Problem:**
We want to fix word embeddings but

[2018-03-28 07:27] tongjinle123 commented on #7
To be frankly, i am wondering if keeping the pre-trained matrix freezed is reasonable.
I think that no one could ensure the matrix is well trained for our task. Why not taking a second train?
Could you please share a paper,artical or experiment which is talking about this problem with me?
    When it comes to the way to the implemention, i had a mind-storm-thought that define pre-trained matrix an

[2018-03-28 13:18] chesterkuo opened #8 "Train with M40 card but got OOM message"
i'm checking this model with M40 device , which is 24G memory on this board.

What's you default batch size used on 1080 card ?? as it seem tf show OOM when i increase batch size to 64 ?

[2018-03-28 22:41] minsangkim142 commented on #8
Hi, here is the hyperparameters used in the original paper which I haven't tried due to memory issue.
[code]
Please change those lines above in `config.py` file and let us know the results. Thanks for your contribution!

[2018-03-29 05:09] chesterkuo commented on #8
ok, i'm trying to use smaller batch size to avoid OOM case.

Also , using default char_dim in config.py instead of 200 here, will update results after 60000 steps.

[2018-03-29 10:02] chesterkuo commented on #8
After trained with 60000 steps , run with testing case, here is results.

python config.py --mode test
Exact Match: 69.9716177862, F1: 79.4625328804

[2018-03-29 10:04] chesterkuo commented on #8
here is my default config.

flags.DEFINE_integer("char_dim", 64, "Embedding dimension for char")

flags.DEFINE_integer("para_limit", 400, "Limit length for paragraph")
flags.DEFINE_integer("ques_limit", 50, "Limit length for question")
flags.DEFINE_integer("ans_limit", 30, "Limit length for answers")
flags.DEFINE_integer("test_para_limit", 1000, "Limit length for paragraph in test file")
flags.DEF

[2018-03-29 10:05] minsangkim142 commented on #8
@chesterkuo nice! Could you share with us the training curve from tensorboard? It could possibly keep improving until 150k steps just like the paper's results.

[2018-03-29 10:28] chesterkuo commented on #8
![loss](https://user-images.githubusercontent.com/6285069/38084303-efa316ec-337e-11e8-9b56-fafa4debd5f2.jpg)

[2018-03-29 10:32] chesterkuo commented on #8
![loss](https://user-images.githubusercontent.com/6285069/38084444-78d538e6-337f-11e8-8595-63d9e170c620.jpg)

[2018-03-29 23:58] minsangkim142 commented on #8
It seems the model is overfitting. We need more dropouts and better regularization.

[2018-03-30 03:04] chesterkuo commented on #8
hi @minsangkim142

Did you see similar issue on your training env ?

[2018-03-30 06:29] minsangkim142 commented on #8
Overfitting does occur even with hidden size = 96, however it is not as bad and the dev loss stays quite low (around 3.1). There are a few possible reasons to why our model is performance lower than the original paper (by about 2~3%):

1. The dropouts are not placed in right places. From the original paper:
[code]
Also from a brief email with the first author
`The dropout is applied between every

[2018-03-30 16:38] chesterkuo commented on #8
after 150000 step, it seem overfitting as well.

Exact Match: 69.0066225166, F1: 78.594759759

[2018-04-02 07:40] chesterkuo commented on #8
Hi @minsangkim142

Try to change dropout to 0.2 in config.py as following , after run with 160000 step , here is eval results.

===
flags.DEFINE_float("dropout", 0.2, "Dropout prob across the layers")
===

{"f1": 79.11957637723766, "exact_match": 69.49858088930937}

[2018-04-04 23:34] minsangkim142 commented on #8
Hi @chesterkuo , thanks for sharing your results. Could it be possible to share your tensorboard plot?

I'm trying different ways to apply dropouts to the network to decrease the overfitting even further. Will push a new commits soon. The goal is to achieve highest EM/F1 performance out of all opensource code on github.

[2018-04-06 18:34] theSage21 opened #10 "word_embed.json missing?"
I'm trying to train/demo the code and in both cases, `python config.py --mode train` and `python config.py --mode demo` I end up hitting the same error.

The last few bits of the traceback are:
[code]

I saw some commented out things in the `download.sh` file, should I be un-commenting those?

[2018-04-07 04:39] theSage21 commented on #10
I apologize. I'll close this issue once I have reached a laptop and verified that this is indeed what I was doing wrong.

[2018-04-07 04:42] rpanchal1996 opened #11 "No such file or directory: 'demo.html'"
I am trying to run the interactive server, but when I navigate to the server URL, the page throws up a 500 code error (Internal Server Error).

The trace for the error is:
[code]
Which is obviously caused by the missing `demo.html` file. Can you please help me out with where do I procure the file from?

I am running a Python3.6 on Ubuntu 16.04.

[2018-04-07 06:30] theSage21 commented on #10
Just saw #11 . If the demo.html is the same as the Rnet I can submit a PR.

[2018-04-07 06:40] minsangkim142 commented on #10
Could you submit a pr of demo.html? It's identical to rnet's. I'm not with my computer and I won't be for a while but I can approve the pr which fixes the problem from #11. Thanks!

[2018-04-07 22:12] minsangkim142 commented on #10
Sorry just saw the "ValueError" problem. You should put the "FRC" directory inside "train" directory and keep these lines in config.py.
[code]

[2018-04-08 05:59] theSage21 commented on #10
Your closing of the issue made me assume that that was indeed the fix. (y)

[2018-04-08 05:59] #10 closed

[2018-04-09 09:08] chesterkuo commented on #8
![200000-step-1](https://user-images.githubusercontent.com/6285069/38489323-95ea6ffe-3c18-11e8-9d86-fdff27603ff0.png)
![200000-step-2](https://user-images.githubusercontent.com/6285069/38489324-962660ae-3c18-11e8-9d4b-be2af4191d3e.png)

[2018-04-26 05:28] minsangkim142 opened #13 "Regularization"
This is an umbrella issue where we can collectively tackled some problems and improve general open source reading comprehension quality.

**Goal**
The network is already there. We just need to add more features on top of the current model.
- [x] Implement full features stated in the original paper
- [ ] Achieve EM/F1 performance stated in the original paper with a single model settings

**Model**

[2018-04-26 05:33] minsangkim142 commented on #8
Made a new issue for this. #13

[2018-04-26 05:33] #8 closed

[2018-04-26 05:35] minsangkim142 commented on #7
Refer to #13 for this issue.

[2018-04-26 05:35] #7 closed

[2018-04-26 07:48] jasonwbw opened #15 "Report the results with 128 hidden units"
Model | Training Steps | Size | Attention Heads | Data Size (aug) | EM | F1
-- | -- | -- | -- | -- | -- | --
My Model | 60,000 | 128 | 1 | 87k (no aug) | 70.7 | 79.8

The results are obtained on a K80 machine. I modify the trilinear function for memory efficiency, but the results are the same with the current version of this repository.

I'm not sure about the overfitting, the model is the last ch

[2018-04-26 07:54] minsangkim142 commented on #15
Great, thanks! Updating README.md now. As for overfitting, you can observe the dev loss going up after about 60k steps from the Tensorboard summary.

[2018-04-26 08:05] jasonwbw commented on #15
Ok, the F1 and EM curves on the dev set oscillate after 30k steps, but the loss curve keeps on a rise after that. Unfortunately, I have just saved the last five checkpoints.

[2018-04-27 07:30] raisudeen commented on #15
@jasonwbw Can you please share the trained model if possible? So that, it will be useful for all. Thanks in advance.
-Raisudeen.

[2018-04-27 23:41] minsangkim142 commented on #13
I have changed the location of dropouts to "after" layer norm from "before" layer norm. It doesn't make sense to drop input channels to layer norm as they normalize across channel dimensions, this will cause distribution mismatch during inference time and training time. We shall see how this improves the model.

[2018-04-29 00:03] mikalyoung opened #17 "Pre-loaded glove char vectors have mismatched tensor shapes"
When trying to set the "pretrained_char" as True, the is a tensor reshape size conflict.

[code]
Error is from model.py line 76, below.  How can the reshape dimensions be adjusted?

Error:
[code]

[2018-04-29 00:14] mikalyoung commented on #17
The same issue also arises when trying to separately load the fasttext vectors.

[2018-04-29 02:05] minsangkim142 commented on #17
If you want to use your own char embeddings you should change the dimension of the mebeddings here https://github.com/minsangkim142/QANet/blob/f0c79cc93dc1dfdad2bc8abb712a53d078814a56/config.py#L82. And you have to re-run `python config.py --mode prepro`

[2018-04-29 05:15] mikalyoung commented on #17
Thanks!

[2018-04-29 05:15] #17 closed

[2018-04-29 05:29] minsangkim142 commented on #15
Empirically, I found early stopping to be not beneficial to gaining maximum performance (possibly due to early stopping not letting exponential moving average to stabilize) so I am increasing the maximum patience from 3 to 10.

[2018-04-29 05:46] mikalyoung commented on #13
To overcome your GPU memory constraints, what about just decreasing batch size?

On a 1080 Ti, I can run 128 hidden units, 8 attention heads, 300 glove_dim, 300 char_dim with a batch size of 12.  At least 16 and above, CUDA is out of memory.  Accuracy seems comparable so far.

[2018-04-29 05:57] minsangkim142 commented on #13
You have a valid point, and I would like to know how your experiment goes. I would also suggest trying [group normn](https://arxiv.org/pdf/1803.08494v1.pdf) instead of layer norm as they report better performance with lower batch sizes.

[2018-04-29 06:54] mikalyoung commented on #13
Good suggestion, Min.  Since the paper compares against batch norm, have you found that layer norm generally outperforms batch norm lately?  One could try batch norm also for comparison.  Interestingly the 'break-even' point is about batch size 12 between batch norm and group norm for those paper's conditions.  Layer norm is supposedly more robust to small mini batches compared to batch norm.

Als

[2018-05-01 19:16] brojokm opened #18 "Trying to fine tune with different data, But getting dimensionality mismatched for tensor"
I am getting the following error while trying to fine tune

[code]

[2018-05-02 11:43] localminimum commented on #18
Hi,
Try re running the `config.py --mode prepro` if you make changes regarding embedding matrices

[2018-05-02 13:06] brojokm commented on #18
@localminimum
If I change training file then after running preprocessing, embedding file will change and its dimension is mismatched with the existing one. That is what I have noticed as per my knowledge.

kindly help me to resolve this.

[2018-05-03 08:26] brojokm commented on #18
I want to train the pretrain model. I don't have enough data to train from
scratch. Kindly tell me if this is possible or not? . If yes, how?

On Thu 3 May, 2018, 10:51 AM localminimum, <notifications@github.com> wrote:

[2018-05-03 09:03] localminimum commented on #18
You can just train the new character embeddings from scratch while using the pretrained weights for other weights. But I don't have that feature implemented here. You might have to manually allocate each weight.

[2018-05-03 11:12] brojokm commented on #18
Hi! I'm new to tensorflow, and while I understand that I need to manually allocate weights to layers for the non-character embedding layers (it seems that word embeddings are non-trainable). Also, I don't understand how to restore only selected portions from checkpoint. It'll be really helpful if you could elaborate on what I need to do (or sample code)
Thanks in advance :)

[2018-05-05 01:56] chesterkuo commented on #15
Exact Match: 70.8136234626, F1: 80.0760742304

with following parameter.
--hidden=128 --num_heads=8 --checkpoint=2000 --num_steps=60000 --learning_rate=0.001 --batch_size=32

[2018-05-05 07:07] localminimum commented on #13
Hi @mikalyoung , I haven't tried parallelisation across multiple GPUs so I wouldn't know what the best way to go about it is. I heard that data parallelism is easier to get working than model parallelisation. It seems that from #15 using bigger hidden size and bigger number of heads in attention improves the performance, so I would try fitting the bigger model with smaller batches into multiple GP

[2018-05-05 11:06] ajay-sreeram commented on #15
EM: 68.60, F1: 78.16

Results are obtained with CPU(8GB ram), ran for 5 days
Using all default parameters but Glove42B and 35K steps instead

[2018-05-07 06:01] jasonwbw commented on #15
@raisudeen Sorry for the late replay due to the vacation. [Checkpoints](https://drive.google.com/open?id=1zvbill2uvCjbYqWOIRLMCPebawd8UOoK)

[2018-05-07 11:27] localminimum commented on #15
Hi @chesterkuo , is your result above obtained after this commit? f0c79cc93dc1dfdad2bc8abb712a53d078814a56

[2018-05-07 12:41] ajay-sreeram commented on #15
Hi @localminimum , I am happy to see such a good performance results from re-implementation of QANet paper. To know the model performance with weaker embedding, I tried using Glove42B. Yes the results show that there is a decrease in the performance but that is not much, this proves the strength of QANet again.

| Word Embedding  | Training Steps | EM | F1 |
|:--------------------:|:--------------

[2018-05-07 23:38] wanghm92 commented on #6
Does building bucket bring any benefits? like reduction of GPU memory usage? Thanks!

[2018-05-08 04:10] chesterkuo commented on #15
@localminimum , yes, based on new changed with Glove "glove.840B.300d"

[2018-05-08 12:26] PhungVanDuy commented on #15
@jasonwbw I tried to load your checkpoint, however, I got an error following:
![image](https://user-images.githubusercontent.com/28798474/39756944-767ea420-52f5-11e8-97c9-9fc299a85051.png)
Although I copied your entire checkpoint to the correct directory.

[2018-05-08 12:38] PhungVanDuy commented on #15
@jasonwbw I tried to use your checkpoint but I got an error following:

![image](https://user-images.githubusercontent.com/28798474/39757397-eb622978-52f6-11e8-81ab-2416c96e725c.png)
Can you tell me how to use your checkpoint?
Thanks you!
@ajay-sreeram Can you please share the checkpoint? Thanks.

[2018-05-09 02:16] jasonwbw commented on #15
@PhungVanDuy Firstly, I feel sorry that I have forgot to report some details, I obtain this results upon TF 1.4 instead of 1.5, and I report the results before commit f0c79cc93dc1dfdad2bc8abb712a53d078814a56.
Then I wonder that you have forgot to set save_path in the config.py according to your error.
And the path should be train_dir/model_name/model by default.

[2018-05-09 07:00] jasonwbw commented on #15
@PhungVanDuy maybe hidden size should be set to 128 in config.

[2018-05-09 07:36] PhungVanDuy commented on #15
@jasonwbw I knew it but still error! Can you share your source code stable for the checkpoint? I would be very grateful for that. I am looking forward to your reply.

[2018-05-09 07:39] localminimum commented on #15
@PhungVanDuy can you post the error you get here?

[2018-05-09 08:00] PhungVanDuy commented on #15
@localminimum  I reproduce the checkpoint of @jasonwbw with commit [bb5769d](https://github.com/NLPLearn/QANet/commit/bb5769db19d95bfa2e7c0b946195c57c97e0e5b9) (git reset --hard bb5769d).
I put the checkpoint to default folder: train/FRC/model.
And then I got an error:
``
Loading model...
Total number of trainable parameters: 1295938
2018-05-09 00:32:32.496830: I tensorflow/core/platform/cpu_featu

[2018-05-09 08:03] localminimum commented on #15
@jasonwbw looking at the error above, did you use the old trilinear function for the pretrained model above? It seems like the optimised trilinear function exponential moving average is missing.

[2018-05-09 08:10] localminimum commented on #15
@PhungVanDuy comment out the old trilinear function as it is in the current code. Only use the optimied trilinear function and try again.

[2018-05-09 09:25] PhungVanDuy commented on #15
@localminimum Thank you for your supports I solve it!
![image](https://user-images.githubusercontent.com/28798474/39807056-96144154-53a5-11e8-8a31-118b4ae41e99.png)

[2018-05-10 08:08] EastonWang opened #19 "Results of the original paper"
Thanks for this great implementation.  I noticed that you mentioned in the README file that the original system can achieve EM: 72.5, F1: 81.4 after 150,000 training steps, and EM: 76.2, F1: 84.6 after 340,000 training steps.  But I didn't find this information in the original paper. It seems that the original system takes much longer time to train? Could you show me where to get this information?

[2018-05-10 21:51] localminimum commented on #19
Hi @EastonWang , there has been a revision in the paper since I wrote down that statistics. You can find the results by the authors from the original paper. Check subsection 4.1.2. I will update the readme now. Thanks.

[2018-05-11 01:42] #19 closed

[2018-05-14 12:36] hackiey opened #20 "Is it a better way to use conv layer in highway or encoder block feed forward network rather than dense layer?"
The author didn't mention they use conv layer in paper. thanks for any reply!

[2018-05-15 09:17] localminimum commented on #20
Hi @hackiey thanks for your question. The "conv" function used [here](https://github.com/NLPLearn/QANet/blob/df87806c6ed4328a8b3e351e8f7cfe3db05233c4/layers.py#L79-L82) has an argument "kernel_size" and is by default equal to 1. This is actually 1x1 convolution which is same as fully connected network. I just use conv function instead of dense layer because it is more robust with different input r

[2018-05-16 07:53] nehaboob opened #21 "dev set evaluation"
My test and dev sets are same. But I get different results from training check point evaluation vs running config.py in test mode.

Ideally it should give same results because we are loading the saved model and running it on dev file again ?

[2018-05-16 10:02] ThommyH opened #22 "tensorflow not in requirements.txt"

[2018-05-16 12:45] localminimum commented on #21
The dev results obtained from training mode will be different to running test mode because training mode doesn't use exponential moving average at inference. Ideally, the results obtained from test mode should be higher.

[2018-05-16 12:48] localminimum commented on #22
Hi @ThommyH thanks for bringing it up. I didn't put tensorflow in requirements.txt because the installation method may differ between machines. Tensorflow is notorious for having non-unified installation method so I let people install tensorflow on their own and install the rest of the requirements from requirements.txt

[2018-05-16 16:51] nehaboob commented on #21
I was getting worse results in test mode. Then I commented below from test(config) function and now getting same results as training mode.

if config.decay < 1.0:
                sess.run(model.assign_vars)

[2018-05-17 08:03] localminimum commented on #21
If you train longer and let the exponential moving average variables settle, you will see better results with test mode.

[2018-05-18 03:20] nehaboob commented on #21
Thanks, so typically how many steps ?

Just to try it out, I am training on just 600 questions and dev set is 60 questions and algorithm is running for 1500 steps. Looking at dev loss and training loss I can see its over fitting pretty quickly. I think its too less data for learning anything meaningful.

Let me know if you have an idea on minimum number of training questions and corresponding numb

[2018-05-18 08:45] localminimum commented on #21
If you have a GPU to train on, usually 60,000 steps would get you to the best performance which takes about 6~8 hours depending on which GPU you have.

[2018-05-21 09:00] #21 closed

[2018-05-24 08:50] amandalmia14 opened #23 "Memory Issue"
I am using AWS p2.xlarge which has Tesla K80.
While training it is still showing memory issue.  Why??
It has 11.17 GIGs of memory which displays in my console.
Logs - attached.
[logs.txt](https://github.com/NLPLearn/QANet/files/2034539/logs.txt)

TIA

[2018-05-24 10:45] amandalmia14 commented on #23
Ahhhh!!
My bad.

[2018-05-24 10:45] #23 closed

[2018-05-25 09:51] nehaboob opened #24 "training on "Answer not available" ?"
Any suggestions on how to train network on "Not available" answer for the questions which cannot be answered from the context.

[2018-05-25 11:28] localminimum commented on #24
Hi @nehaboob . To answer the question from outside of the given context paragraph you need to replace the answer pointer network to a decoder network with fixed dictionary size. You should expect the performance drop since you are giving up the assumption that the answer lies within the context.

[2018-05-25 14:20] nehaboob commented on #24
since network is trained to predict probability of start and end of answer context, can we use that probability to find out if answer might not be present in the context ?

[2018-05-25 16:21] theSage21 commented on #24
A good method might be to add a dummy word in front of each paragraph and then generate multiple samples (maybe by matching the question to a wrong paragraph) where the "answer" is the dummy word added in front of the paragraph.

During inference then the "no answer found" case is when the system predicts that default word.

[2018-05-26 13:31] nehaboob commented on #24
Great. With this we can avoid tuning a probability threshold and can keep the assumption that answer lies in the context. I will try this.

[2018-05-28 21:14] localminimum commented on #24
I'll close this for now. If problems arise feel free to reopen this.

[2018-05-28 21:14] #24 closed

[2018-05-29 12:56] nehaboob commented on #24
Sure. Thanks.

[2018-05-29 14:19] chenghuige opened #25 "Speed ?"
For num_heads 1, hidden size 96, seems not faster then HKUST rnet ?
With batch size 64 , 1.42 batch/s while HKUST RNET with 2.4+ batch/s
Though HKUST RNET default use char dim only 8 , here we use 64 but still I think QANet not as fast as which google show in the paper ?

[2018-05-31 03:31] localminimum commented on #25
Hi @chenghuige , thanks for your issue. There are a few points we need to clarify:

First of all, we don't claim our model to be faster than R-Net implementation by HKUST. Secondly, in the paper they use P100, which is one of the latest gpus with twice the gpu memory of GTX1080 which I used to develop this model. Last but not least, the speed claimed by QANet paper is when the batch size of 32 is

[2018-05-31 08:32] chenghuige commented on #25
@localminimum I see, actually I learn a lot from your code, thanks a lot for sharing!
 I'm trying to find encoder for applications like classification which is faster then rnn and has similar or better performance. Since google claims their model is much faster then rnn based models, so very curious if we can verify that :)  Anyway I will first close this issue.

[2018-05-31 08:32] #25 closed

[2018-06-01 07:55] maciejbiesek opened #27 "InvalidArgumentError during evaluation"
Hello,

for some questions in SQuAD dataset I got exception:

	 [[Node: Output_Layer/MatrixBandPart = MatrixBandPart[T=DT_FLOAT, Tindex=DT_INT64, _device="/job:localhost/replica:0/task:0/device:CPU:0"](Output_Layer/MatMul, Output_Layer/MatrixBandPart/num_lower, Output_Layer/MatrixBandPart/num_upper)]]

Do you know what is the reason for that? How to get rid of this problem?

[2018-06-10 18:07] jasperzhong opened #28 "Can it support Chinese?"
I just change _nlp = spacy.blank("en")_ to _nlp = spacy.blank("zh")_
Is that ok?

[2018-06-11 02:06] localminimum commented on #27
Hi @maciejbiesek , it seems that the batch you are evaluating contains an example that has a context length less than 30. A simple solution is decreasing the matrix band part size, however it may result in change in performance. To properly address this problem, use a batch with all examples having the context length of at least the size of the matrix band part. Thanks

[2018-06-11 02:08] localminimum commented on #28
Hi, I haven't tried it on Chinese data but I'm assuming a special preprocessing step is required for Chinese characters as they aren't easily separable to characters and words. Also glove word vectors should be changed to Chinese word glove.

[2018-06-11 04:04] jasperzhong commented on #28
Yes, spaCy only supports to separate Chinese words. But it does't support other nlp basic functions, such as POS and NER. However, StanfordCoreNLP can do this.
I wonder whether this model has used other features that needs nlp functions beyond separating words. If so, I suppose I should change StanfordCoreNLP.
And, yes, I used word2vec in Chinese from [here.](https://github.com/Embedding/Chinese-W

[2018-06-11 05:07] maciejbiesek commented on #27
But this problem even occurs during evaluation on dev set of SQuAD, question by question. How do you deal with that? I mean exceptions during evaluation on this dataset. Because there are fragments with less than 30 tokens.

[2018-06-11 05:09] maciejbiesek commented on #28
@zhongyuchen Probably it is better to use FastText than w2v :) https://fasttext.cc/docs/en/crawl-vectors.html

[2018-06-12 02:54] zhixiaochuan12 commented on #28
I wonder if there are any Chinese data sets with same format available for use.
I got the dureader data set from [here](https://github.com/baidu/DuReader), but found the answer is not a span from context.

[2018-06-12 05:52] maciejbiesek commented on #28
@yangyuji12 You can try to translate SQuAD paragraphs and questions to Chinese and then find an answer in paragraph (it could be the most difficult part). The authors described this approach in "Data Augmentation by backtranslation" section

[2018-06-13 03:39] pencoa opened #29 "How to start training?"
I have read README.md file, but still don't know how to run this project. Can anybody give more instructions?

[2018-06-13 16:43] pencoa commented on #29
[code]

[2018-06-13 16:44] #29 closed, assigned to nobody

[2018-06-14 08:26] pencoa opened #30 "A tool to generate training data"
[Snorkel](https://github.com/HazyResearch/snorkel) can generate training data, maybe it is useful to data augmentation.
It is using dynamic programming instead of translation twice.

[2018-06-14 16:38] #28 closed, assigned to nobody

[2018-06-15 04:22] deepakkumar1984 opened #31 "How to train in Multi GPU"
I see that tensorflow detected 2 GPU's but the training is only happening in 1 GPU. Please advise?

[2018-06-15 10:04] odellus commented on #31
It's not automatic. My 2 cents: look at this and figure out how you want to do it. https://www.tensorflow.org/programmers_guide/using_gpu#using_multiple_gpus

[2018-06-24 06:12] localminimum commented on #31
Hi @deepakkumar1984 , multi-gpu training is not on my priority list, as SQuAD models usually train in a couple of hours with affordable gpus (gtx1070 etc). But I will definitely add it to the todo list for future work. Even better, a pull request and contributions are always welcome.

[2018-06-24 06:12] localminimum commented on #30
Will take a look into it! Much appreciated @pencoa :)

[2018-06-24 06:42] localminimum commented on #27
Hi @maciejbiesek , I haven't been successful in replicating this issue. Could you please tell me what setup you used? And how you obtained the error above. Thanks

[2018-06-26 00:21] gowthamrang commented on #15
Great work folks! :)This information is very helpful.  One other piece of information that would help some audience, I guess, is the time taken for inference. @jasonwbw , @ajay-sreeram (CPU), @chesterkuo ?
- thank you :)

[2018-06-27 06:28] maciejbiesek commented on #27
I just wrote script to iter SQuAD json paragraph by paragraph, question by question and evaluate model on pairs (question, context). Because the length of a answer is limited to 30 tokens, if passage has less than 30, exception occurs.  After changing its to 15 tokens, everything works.

[2018-06-27 16:11] DarrenAbramson commented on #27
@maciejbiesek did you change ans_limit to 15 in config.py after training?

My understanding is that the model cannot accommodate contexts that are shorter than ans_limit. Would appreciate any suggestions for padding short contexts after training.

[2018-06-28 19:13] yexing99 opened #32 "How can I do fine tuning using QANet?"
I've trained the QANet model on SQUAD. I wanted to apply this SQUAD trained model to a new dataset using fine tuning. I need to use the weight from this SQUAD trained model as the initialization for the new dataset for training, with a purpose to make the SQUAD model adaptive to the new dataset.

From the train/FRC folder, I can see there are several checkpoint files. Which checkpoint files should

[2018-07-01 12:08] localminimum commented on #32
Hi @yexing99 , you can just move the FRC folder into your train folder, and keep these two lines https://github.com/NLPLearn/QANet/blob/8107d223897775d0c3838cb97f93b089908781d4/config.py#L20-L21 and you should be able to train the model from the pretrained weights.

[2018-07-02 06:39] nehaboob opened #33 "inconsistency in predictions"
We have trained QA net for our own question and answers data. But when we run it in demo mode for prediction it is giving different results for the same question.

Some times it picks correct answer for the same question and some time does not, but ideally it should pick the same answer, right ? Any ideas what could be the reason for this behaviour of trained model ?

I have commented out below se

[2018-07-04 10:36] charu-iitm opened #34 "Unable to preprocess data"
I am getting following error while preprocessing:
**Generating word embedding...
 13%|#######################3                                                                                                                                                     | 296814/2200000 [00:36<03:52, 8176.12it/s]Traceback (most recent call last):
  File "config.py", line 144, in <module>
    tf.app.run()
  Fi

[2018-07-05 23:10] localminimum commented on #34
Hi @charu-iitm , are you using a custom word vector? If so, please make sure that each line contains only 1 word.

[2018-07-05 23:16] localminimum commented on #33
Hi @nehaboob , as far as I'm concerned, there shouldn't be uncertainty at inference time. Could you explain in detail what the issue is? Are the questions exactly identical? (Not that  the lower and upper case letters are treated differenty in QANet)

[2018-07-05 23:18] localminimum commented on #32
Closing this for now. Feel free to reopen it.

[2018-07-05 23:18] #32 closed, assigned to nobody

[2018-07-09 07:06] nehaboob commented on #33
yes, questions are exactly identical, but same model is giving different predictions at different runs.

[2018-07-09 07:17] theSage21 commented on #33
Hmm. Dropout could be the cause of this. I'm not able to find where dropout is forced to 0 for demo.

[2018-07-10 13:58] nehaboob commented on #33
Sorry, I was doing some mistake in graph initialisation which was causing different predictions.
This can be closed now.

[2018-07-11 04:08] tensorhunter opened #35 "Preprocessing"
In the preprocessing mode the execution stops at def build_features()
stating that (example["y1s"][0] - example["y2s"][0]) > ans_ limit
List index out of bound

And later when commenting that statement it moves forward and gives another error at
start, end = example["y1s"][-1], example["y2s"][-1]
List Index out of bound

Please Help. Is it because I am using SQuAD version 2.0?

[2018-07-11 05:40] #35 closed, assigned to nobody

[2018-07-13 08:28] #33 closed, assigned to nobody

[2018-07-14 23:21] #27 closed, assigned to nobody

[2018-07-18 09:10] shwetagarg-dev opened #36 "mask_logits function"
I don't understand the purpose of "mask_logits" function, which is being used before calling "softmax" function at various places. Can someone please explain.

[2018-07-18 15:00] PANXiao1994 opened #37 "Trainable Embedding for OOV words"
Hello,

I have one doubt over your code: in your code, all OOV words are represented by id 1, which means, all OOV words are considered the same word, and its embedding is a zero vector. Also, this embedding will not be updated during training. However, in the original paper, the author mentioned that for OOV words, the word embeddings are updated during training.

I think this may be a reason why

[2018-07-18 16:05] tuan3w opened #38 "Try to test ELMO language model"
Hi all,
As both results from Google Brain team and AllenNPL, using ELMO can give a big boost in result. I noticed that AllenNLP provides some pretrained model of ELMO. I would love to see some better results.
Thanks.
[1] [QANet slide](https://drive.google.com/file/d/1Mw6JZ9k0e8ajfiQ8uI-VP2my96DJINr4/view)
[2] [ELMO page](https://allennlp.org/elmo)

[2018-07-19 03:19] zy486at189cn opened #39 "https://nlp.stanford.edu/data/glove.840B.300d.zip"
First it is a greate job!
The file  https://nlp.stanford.edu/data/glove.840B.300d.zip
could not been download,where can I download it?Thanks!

[2018-07-19 06:17] shwetagarg-dev commented on #39
It downloads fine for me.

[2018-07-19 08:58] GuoYL36 commented on #15
Hi, I use all default parameters and get results worse than that you presented.
EM: 67.975, F1: 78.015 with following parameter.
--hidden=96 --num_heads=1 --num_steps=35000
I don't know why it happens?

[2018-07-19 15:48] ZhaoyueCheng commented on #38
yeah, ELMO gives boost for the Bidaf model like 4 points

[2018-07-19 21:46] localminimum commented on #39
Hi @zy486at189cn , you can find it [here](https://nlp.stanford.edu/projects/glove/). Put it in your "home/user/datasets/glove", Thanks

[2018-07-19 21:46] #39 closed, assigned to nobody

[2018-07-19 22:06] localminimum commented on #38
Hi @tuan3w , implementing ELMo is definitely one of the priorities. I will work on it as soon as I have some time. Thanks

[2018-07-19 22:13] localminimum commented on #36
Hi @shwetgarg , I use mask_logits function to prevent from having a wrong softmax output and therefore a wrong gradient introduced by the training sample length difference. Each training sample has different lengths (both paragraphs and questions) and it is inevitable to pad the samples when training in batch. This padding will end up giving you a wrong output if it goes straight into exponential

[2018-07-19 22:13] #36 closed, assigned to nobody

[2018-07-20 02:57] GuoYL36 commented on #15
I try to modify the character embedding size to train again with following parameter
--hidden=96  --num_heads=1   --num_steps=35000    --char_emb_size=200(original paper using)
And I get the results: EM: 69.196, F1:78.66.

[2018-07-20 02:59] localminimum commented on #15
Hi @webdaren , is there a reason why you've trained specifically for 35000 steps? All the listed results are based on models trained for 60k steps or longer.

[2018-07-20 03:49] GuoYL36 commented on #15
@localminimum Thank you for your answer! I just want to compare with the result of the first row in listed results. I get the result (EM: 67.975, F1: 78.015) worse than  that in listed results when I used these parameters of the first row in listed results(specially, the value of char_emb_size is 64 in config.py).
Of course, I also train the model for 60K steps and get the result (EM: 67.8, F1: 77

[2018-08-17 05:32] SachinIchake opened #40 "how to predict answers for custom question and context by reusing loaded model"
Hello All,

I have many json files whose format are the same as the standard train file or dev file so can i feed that to this network and predict to get the answers for different input questions and contexts?

Thanks,
Sachin B. Ichake

[2018-08-21 09:39] PANXiao1994 opened #41 "The embedding projection"
Hi, I have noticed that you have put the input projection before Highway Network. However, in the paper, it is mentioned that the input of Embedding Encoding Layer is a vector of dimension p1+p2=500 for each word, which means that the projection is placed after the Highway Network.

Have you already try this?

[2018-08-26 06:07] localminimum commented on #41
Hi @PANXiao1994 , we have tried putting the projection after the highway network. However, we found it to be overfitting severely and it decreased the performance. If anyone else finds results different to what I observed, please let me know.

[2018-08-26 06:08] #34 closed, assigned to nobody

[2018-09-15 11:16] ahmedselim2017 opened #42 "Train Models With Macs"
Hi. I have Macbook Air(Mid 2017) and I want to train data. So it haven't a GPU so without GPU how can I train model?

[2018-09-20 03:09] zhaoluffy opened #43 "mask_logits in layer.py"
I think the line "return inputs + mask_value * (1 - mask)"  should be "return inputs*mask + mask_value * (1 - mask)"

[2018-09-26 15:39] leicao-me commented on #42
If you just install tensorflow instead of tensorflow-gpu, you can train with CPU. But it could take you for days.

[2018-10-04 07:11] PanXiebit opened #44 "layer normalization in layer?"
https://github.com/NLPLearn/QANet/blob/8107d223897775d0c3838cb97f93b089908781d4/layers.py#L52

execuse me,  in the paper "Layer Normalization,Lei Jimmy Ba, Ryan Kiros, and Geoffrey E. Hinton", it said that the mean and variance is computed over all the hidden units in the same layer, and different training cases have different normalization terms. So I think the mean should be computed like this:

[2018-10-08 04:21] alznn commented on #44
I tried this, but the error message show below：
**ValueError: Dimensions must be equal, but are 128 and 32 for 'Embedding_Encoder_Layer/Encoder_Residual_Block/encoder_block_0/layer_norm_0/sub' (op: 'Sub') with input shapes: [32,?,1,128], [32].**
I guess there are many places have to adjust to fit it XD

[2018-10-08 08:36] webstruck opened #45 "Inference on my machine differs from other machines I tested"
Hi, I trained the model on AWS (GPU instance) for 60K steps and got the model. I then tested it on several GPU/CPU instance and results are consistent. When I deploy it locally on my Ubuntu desktop (CPU only), the inferences are totally off. I tested on AWS GPU instance (p2.xlarge), AWS CPU instance (c5d.4xlarge) and also on Colab. All three show consistent answers for a given context and question

[2018-10-08 08:41] PanXiebit commented on #44
@alznn  maybe you can try `tf.nn.moments(inputs, axes)`. I use this, and no error. And you need to pay attention that after compute the mean and variance, you need to use the beta and gamma to renormalize the distribution, the shape of `beta` and `gamma` is `inputs.shape[-1]`.

[2018-10-09 10:48] webstruck commented on #45
I further tested this on a windows machine (CPU). Initially I used pre-processed data from my Ubuntu desktop and it did not work well. Then I performed data pre-processing on windows machine and it worked like a charm. I then copied the data from windows to ubuntu and there too it worked well. So looks like something to do with data pre-processing on my Ubuntu machine. Any hints?

[2018-10-09 11:21] theSage21 commented on #45
One simple way of seeing what could be going wrong is to see which [preprocess files](https://github.com/NLPLearn/QANet/blob/master/prepro.py#L298-L306) differ from each other. They are json so should be easy enough to compare.

[2018-10-09 14:47] sharejing commented on #30
Hi，where can I download QANet augmentation dataset?

[2018-10-10 10:25] webstruck commented on #45
Yeah, so basically it comes down to char and word dictionaries and embeddings. On all the machines it worked well, the dictionary file follow the sequence (e.g. sequence of tokens in glove embeddings)

e.g.
word dictionary always starts with

`{",":2,".":3,"the":4,"and":5,"to":6,"of":7,"a":8,"in":9}`

On my ubuntu desktop this sequence is totally different.
`{
    "Gasteyer": 2, "Naturalists": 3,

[2018-10-11 10:13] saxenarohit opened #46 "Is this snippet in prepro.py correct"
[code]
Should it be +=1?

[2018-10-12 08:07] pencoa commented on #30
It is a tool to generate dataset, not a dataset.

[2018-10-12 08:09] emreorta opened #47 "Training stops after some time"
Hello everyone,

I've been trying to train a model with different `num_heads`, `hidden` and `num_steps` parameters.
The default parameters in `config.py` works like a charm but once I change the mentioned parameters, I get this:
[code]

This occured when I set `num_head` to 2, 4 and 8. I could train up to 50k and 54k steps when `num_head` was set to 2 and 4, and it failed from the starts when `num

[2018-10-12 10:04] sharejing commented on #30
Hello, @pencoa.  I mean, where can I download the augmentation dataset of this paper[QANet: Combining Local Convolution with Global Self-Attention for Reading Comprehension]

[2018-10-12 15:00] theSage21 commented on #47
Is this a partial traceback? That particular errors usually has more along with it.

[2018-10-12 15:26] emreorta commented on #47
I copied everything when the error occurred as far as I remember.

I'll train the network and try to replicate the error again so that I could post the full traceback to see if there's something missing. I'll let you know once I get the result.

[2018-10-13 10:55] emreorta commented on #47
@theSage21 I have the result now. I ran `python config.py --mode train` and got this:
[code]

Let me know if you need anything else and thanks in advance!

[2018-10-13 11:08] theSage21 commented on #47
I don't know. `Exception ignored in:` seems suspicious but otherwise I can't tell. Maybe if you remove tqdm in that particular line and let it fail the traceback may be different. I recollect tqdm used to have problems with multiprocessing code.

[2018-10-22 11:38] hezhihao10 commented on #47
I have the same problem while i try to run the code. Have you solve it?

[2018-10-22 12:41] emreorta commented on #47
I couldn't find time to work on it as I've been quite busy at work due to the _unexpected_ tasks. But once I find a solution, I'll post it here.

[2018-10-26 11:56] localminimum commented on #47
Hi, which version of tqdm are you currently using? It could be related to the version problem according to [this issue](https://github.com/tqdm/tqdm/issues/613). Please try reverting the tqdm version back to 4.19 or even lower and try again? Thanks!

[2018-10-26 12:03] localminimum commented on #46
Hi, thanks for your question! We don't actually use the value of the key in the counters so it's a bit of a redundancy that I should remove. But for consistency it should be +=1 you are correct!

[2018-10-26 12:03] #46 closed, assigned to nobody

[2018-10-26 12:05] emreorta commented on #47
Hello,

I'm using tqdm v4.26.0 right now. I'll do what you say and report back as soon as I get the results.

Thanks for the answer!

[2018-10-26 12:06] localminimum commented on #44
Thanks for your question! You are right in that right now it looks more like an instance normalization rather than a layer normalization. If you check [this line](https://github.com/NLPLearn/QANet/blob/8107d223897775d0c3838cb97f93b089908781d4/layers.py#L69) I actually attempted using both normalization methods and they didn't show much difference so I sticked with one!

[2018-10-26 12:07] localminimum commented on #43
You are correct, however, I believe that the difference is very minuscule (probably even smaller than a floating point epsilon) so I saw no point in fixing it.

[2018-10-26 12:12] localminimum commented on #42
Hi, if you look at [this issue](https://github.com/NLPLearn/QANet/issues/15), [@ajay-seeram](https://github.com/ajay-sreeram) tried running this experiment in cpu, reported that it took 4 days and a half to train 35k steps.
You can simply install tensorflow in your macbook and follow the steps written in README.md file.

However, **I do not recommend you** training this model in your Mac as it wil

[2018-10-28 23:26] #42 closed, assigned to nobody

[2018-11-01 07:02] emreorta commented on #47
I've trained several networks using different configurations and seems like downgrading `tqdm` fixed the problem. Thanks @localminimum!

[2018-11-01 07:02] #47 closed, assigned to nobody

[2018-11-15 09:19] anshulsolanki commented on #18
@brojokm and @localminimum were you able to resolve this.
I am getting the same error.
Any help on how to "just train the new character embeddings from scratch while using the pretrained weights for other weights" is appreciated.

[2018-12-22 08:27] Jasperty opened #48 "how to adapt it for squad2.0 dataset?"

[2018-12-23 09:54] DC-Swind opened #49 "This repo cannot reproduce the result of original paper"
Thank you for your implementation, it is very helpful for me.
I run this code and can get the similar result when the number of heads equals to 1. But, I cannot get the result of original paper(73.6/82.7) when I use 8 heads, batch size 32, training step 150k, char dimension of 200 (the same setting as the original paper). I can only get around (71.27/80.58).
Same situation was ocurred when I ran t

[2018-12-27 01:58] xunfeiniao commented on #48
I also encountered the same problem.Please reply me if you solved it！！

[2018-12-29 08:51] SeekPoint opened #50 "RuntimeError('cannot join current thread',) in <object repr() failed>"
(.venv) ub16c9@ub16c9-gpu:~/ub16_prj/QANet$ python config.py --mode train
Building model...
WARNING:tensorflow:From /home/ub16c9/ub16_prj/QANet/layers.py:52: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
WARNING:tensorflow:From /home/ub16c9/ub16

[2019-02-12 21:13] JACKHAHA363 commented on #49
Have you been able to reproduce the original paper's result?

[2019-02-12 21:20] JACKHAHA363 commented on #13
Right now what is the status reproducing the paper's result?

[2019-02-19 02:04] DC-Swind commented on #49
I tried my best, but the result was still two points below.

[2019-02-22 15:36] NatCusack opened #51 "How do I resume training off a checkpoint?"
After training the model to 46 percent there was a power outage. What command do I use to resume training? I'm on checkpoint 26.

Thanks in Advance

[2019-02-25 15:21] NatCusack commented on #51
I figured it out
`python config.py --mode train model_26000`

Issue solved therefore closing

[2019-02-25 15:21] #51 closed, assigned to nobody

[2019-03-08 09:22] shahhet0205 opened #52 "how to train by changing/adding batch_size?"
I am not able to free GPU for training data. So I am planning how to add/update batch _size?

[2019-03-27 10:17] #52 closed, assigned to nobody

[2019-04-24 07:39] natureLanguageQing commented on #50
我也遇到了一样的问题，减小了batch size之后就好了或者是重新运行一次。很偶然

[2019-05-13 12:16] liying123456 opened #53 "Parameter setting problem"
1.What is the meaning of config.hidden  used in conv(), and why is the value of kernel size =5 in conv() , is it a parameter that needs to be debugged?

![image](https://user-images.githubusercontent.com/24801876/57620649-f74f1500-75bb-11e9-8865-65733fee6f74.png)

2.Is the conv function pre-packaged with tensorflow, or you need to rewrite it by yourself?

3. Is the highway function rewritten by yo

[2019-05-17 08:19] liying123456 opened #54 "conv_block problem"
Why is the dropout here not every resudial block?
![QANet layers py at master · NLPLearn QANet](https://user-images.githubusercontent.com/24801876/57913588-e53ed200-785a-11e9-92fe-7d6febdd96a3.png)

[2019-07-24 12:57] kyang888 opened #55 "problem about highwaynet"
In highway network, H is a non_linear function.  But in this report，H is a linear function. why this is? thanks!

[2019-09-04 08:32] xiongma opened #56 "why did u add this kind of dropout in every residual block"
`def layer_dropout(inputs, residual, dropout):
    pred = tf.random_uniform([]) < dropout
    return tf.cond(pred, lambda: residual, lambda: tf.nn.dropout(inputs, 1.0 - dropout) + residual)`

[2019-09-04 08:33] xiongma commented on #56
@localminimum hope you can reply this, thx

[2019-09-19 01:48] menggehe opened #57 "ValueError: could not convert string to float: 'bewildered'"
ValueError: could not convert string to float: 'bewildered'

[2021-07-16 08:05] 447428054 commented on #40
Do you solve this problem?I meet the same problem

[2021-07-17 01:48] 447428054 opened #58 "Predict"
How to reload model to make predictions?